section{
	width: 100%;
	padding: 100px 0 120px 0;
}

.column-container{
	width: 1000px;
	margin: 0 auto;
}

.column-one{
	width: 500px;
	float: left;
}

.column-two{
	width: 500px;
	float: left;
}

.img-container{
	width: 50%;
	float: left;
}

.img-thumb{
	width: 100%;
	padding: 5%;
}

.full-width-container{
	width: 500px;
	padding: 12.5px;
}

.full-width{
	width: 100%;
}

.small-thumb-container{
	width: 500px;
	padding: 12.5px;
}

.small-thumb{
	width: 118.75px;
	float: left;
}

.section-four-images{
	width: 994px;
	margin: 0 auto;
}

#column-left{
	float: left;
}

#column-middle{
	float: left;
}

#column-right{
	float: left;
}

#tounge{
	height: 354px;
	margin-right: 5px;
}

#cat{
	height: 177px;
	display: block;
	margin: 0 5px;
	padding-bottom: 5px;
}

#photoshop{
	height: 177px;
	display: block;
	margin: 0 5px;
	padding-top: 5px;
}

#woman{
	height: 354px;
	margin-left: 5px;
}